@model Models.Model.User

@{
    ViewData["Title"] = "Details";
}

<title> Detail Page </title>

<header>
    <h1> Detail Page for @Model.Name </h1>
</header>


<body>
    <div class="jumbotron">
        <div class="jumbotron jumbotron-fluid" style="width:700px" margin="45">
            <div class="card">
                <img class="card-img-center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSsCtHo-_nthx4D3Lf_gR5p1jzw3Lum0dl1E3wIT5F5rkx7gr5T">
                <div class="card-img-top">
                    <h4 class="card-title"> Name : @Model.Name</h4>
                    <h4 class="card-text"> LastName: @Model.LastName</h4>
                    <h4 class="card-text"> CURP: @Model.CURP</h4>
                    <h4 class="card-text"> UserName: @Model.UserName</h4>
                    <h4 class="card-text"> Email: @Model.Email</h4>
                    <h4 class="card-text"> Books in Loans: @Model.Quantity</h4>

                </div>
            </div>
            <a class="btn btn-primary" href="../Debts/@Model.ID" role="button">Debts</a>
        </div>
        <a class="btn btn-primary" href="../ActiveLoans/@Model.ID" role="button">Active Loans</a>
    </div>
</body>




<footer>
    <a asp-action="Index" class="jumbotron jumbotron-fluid" style="color:lightpink">Back to List</a>
</footer>