@model Models.Loan

@{
    ViewData["Title"] = "Details";
}

<title> Detail Page </title>

<header>
    <h1> Detail Page for @Model.User </h1>
</header>

<body>
    <div class="jumbotron">
        <div class="jumbotron jumbotron-fluid" style="width:700px" margin="45">
            <div class="card">
                <img class="card-img-center" src="https://www.incimages.com/uploaded_files/image/970x450/getty_883231284_200013331818843182490_335833.jpg">
                <div class="card-img-top">
                    <h4 class="card-title"> DateCreate : @Model.DateCreate</h4>
                    <h4 class="card-text"> DateFinish: @Model.DateFinish</h4>
                    <h4 class="card-text"> StatusId: @Model.StatusId</h4>
                    <h4 class="card-text"> IdBook: @Model.IdBook</h4>
                    <h4 class="card-text"> Title: @Model.Book.Title</h4>
                </div>
            </div>
        </div>
    </div>
</body>




<footer>
    <a asp-action="Index" class="jumbotron jumbotron-fluid" style="color:lightpink">Back to List</a>
</footer>
        