@model Models.Model.Book

@{
    ViewData["Title"] = "Details";
}

<title> Detail Page </title>

<header>
    <h1> Detail Page for @Model.Title </h1>
</header>


<body>
    <div class="jumbotron">
        <div class="jumbotron jumbotron-fluid" style="width:700px" margin="45">
            <div class="card">
                <img class="card-img-center" src="https://www.incimages.com/uploaded_files/image/970x450/getty_883231284_200013331818843182490_335833.jpg">
                <div class="card-img-top">
                    <h4 class="card-title"> ISBN : @Model.ISBN</h4>
                    <h4 class="card-text"> Autor: @Model.Autor</h4>
                    <h4 class="card-text"> Title: @Model.Title</h4>
                    <h4 class="card-text"> NumPages: @Model.NumPages</h4>
                    <h4 class="card-text"> Edition: @Model.Edition</h4>
                    <h4 class="card-text"> Description: @Model.Description</h4>
                    <h4 class="card-text"> Quantity: @Model.Quantity</h4>
                </div>
            </div>
        </div>
    </div>
</body>




<footer>
    <a asp-action="Index" class="jumbotron jumbotron-fluid" style="color:lightpink">Back to List</a>
</footer>
